.header__index .nav-main-header {
    font-size: 10pt;
}
.header__index .nav .open > a {
    background-color: transparent !important;
}
.header__index .nav>li>a:visited {
    color:#fff !important;
}
.body_view_light .header__index .desktop__menu .nav>li>a:visited {
    color:#000 !important;
}
.header__index .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    color:#F2D51B;
    background-color: transparent !important;
}
.header__index .desktop__menu .dropdown-menu {
    background-color: #000;
}
.body_view_light .header__index .desktop__menu .dropdown-menu {
    background-color: #fff;
}
.header__index .desktop__menu .dropdown-menu {
    font-size: 1em;
}
.header__index .dropdown-menu > li > a {
    color:#fff;
}
.header__index .dropdown-menu > li > a:hover {
    color:#fff;
}
.body_view_light .header__index .dropdown-menu > li > a {
    color:#000;
}
.body_view_light .header__index .dropdown-menu > li > a:hover {
    color:#000;
}
.header__index .dropdown-menu>li>a:hover {
    text-decoration: underline;
    color:#F2D51B;
    background-color: transparent !important;
}
.header__index .logo_150 {
    width: 150px !important;
}
.header__index .header__logo_fix {
    margin-top:-11px;
}
@media (max-width: 1024px){
    .header__index .header__center__mobile {
        width: 30%;
    }
}
@media (max-width: 520px){
    .header__index .header__center__mobile {
        width: 100%;
    }
}
.body_view_light .header__index .desktop__menu .dropdown.open > .dropdown-toggle {
    color:#000 !important;
}
.header__index .desktop__menu .dropdown.open > .dropdown-toggle {
    color:#fff !important;
}
