.signup__style .form-control, .signup__style .select2-selection__rendered, .signup__style .select2-selection__choice {
    color: #000 !important;
}

.signup__style strong {
    font-weight: bold !important;
    color: #000 !important;
}
.signup__style ._active {
    background-color: #f2d51b !important;
    border: 2px solid #f2d51b;
}
.signup__style .pointer {
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
}
.signup__style .has-error .form-control, .signup__style .has-error .input-group-addon, .signup__style .has-error .select2-selection{
    border-color: #e34046 !important;
}
.signup__style .has-error .checkbox span, .signup__style .text-danger{
    color: #e34046 !important;
}
.signup__style .btn-bordered{
    border: 2px solid #f2d51b;
}
.signup__style .btn-default.focus, .signup__style .btn-default:focus, .signup__style .btn-default:active:focus, .signup__style .btn-default:hover, .signup__style .btn-default:active:hover{
    border-color: #f2d51b;
    background-color: #fff;
}
.s2-togall-button, .s2-unselect-label{
    color: #f2d51b !important;
}
.signup__style .border_bottom_dashed{
    border-bottom: 2px dashed #dfdfdf;
}
.signup__style .no-decorate {
    text-decoration: none !important;
}
.signup__style .font-15 {
    font-size: 15px !important;
}
.signup__style .font-13 {
    font-size: 13px !important;
}
.signup__style .btn-bold {
    font-weight: bold;
    color: #0a0a0a !important;
}
.signup__style .label-in {
    margin-top: -60px;
}
.signup__style .hascontent-label .form-group .form-control {
    padding-top: 9px;
}
.signup__style textarea.form-control {
    padding-top: 15px !important;
    height: auto !important;
    resize: none !important;
}
.signup__style .hascontent-label .form-group .control-label {
    display: none;
    font-size: 10px;
    padding-top: 3px;
    padding-left: 13px;
    position: absolute;
    color: #708090;
    z-index: 10;
}
@-moz-document url-prefix() {
    .signup__style .hascontent-label .input-group .control-label {
        left:0;
        top:0;
    }

    .signup__style .upassword .control-label {
        left: auto !important;
        top: auto !important;
    }
}
.signup__style .btn-double:first-child{
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.signup__style .btn-double:last-child{
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
}
.signup__style .btn-double-sm{
    font-size: 13px;
}
.signup__style .form-control{
    height:50px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signup__style .popover{
    width: 100%;
}
.signup__style .select2-container--bootstrap.input-lg .select2-selection--single, .signup__style .input-group-lg .select2-container--bootstrap .select2-selection--single, .signup__style .form-group-lg .select2-container--bootstrap .select2-selection--single {
    font-size: 14px !important;
    padding: 15px 26px 10px 11px !important;
}
.signup__style .select2-container--bootstrap .select2-selection--single, .signup__style .select2-container--bootstrap .select2-selection--multi{
    height: 50px !important;
}
.signup__style .select2-selection__rendered{
    margin-top: 8px;
}
.signup__style #russia .select2-selection__choice, .signup__style #russia .select2-search__field{
    font-size: 14px !important;
}
.signup__style #russia .select2-search__field{
    position: absolute;
    margin-top: -10px;
}
.signup__style #russia .multi-select .select2-selection {
    padding-top: 10px;
}
.signup__style .form-group-split{
    width: 48%;
    display: inline-block
}
.signup__style .right{
    float: right;
}
.signup__style .left{
    float: left;
}
.signup__style .counter-label{
    padding-left: 39px !important;
}
.signup__style .signup-info-block{
    white-space: normal;
    text-align: left !important;
    display: inline-block;
    font-size: 11px !important;
    margin-top: 0;
}
.signup__style .signup-info-block-info{
    color: #8c8c8c;
    margin-top: 8px;
}
.signup__style .signup-info-block-warning{
    color: #000;
    border: 1px solid #e9dfab;
    display: block;
    width: 100%;
    padding: 8px;
    background-color:#f7ecb5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signup__style .checkbox-passing{
    padding-right: 10px;
}
.signup__style .upassword_hint, .signup__style .user_registered{
    display: none;
    text-align: justify;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signup__style .carrier_signup_addon .select2-selection__rendered li:not(:only-child):last-child{
    display: none;
}
.signup__style .carrier_signup_addon .select2-container .select2-selection--multiple .select2-selection__rendered{
    margin-top: 8px !important;
}
.signup__style .carrier_signup_addon .multi-select .select2-selection{
    min-height: 50px !important;
}
.signup__style .carrier_signup_addon .select2-selection__choice{
    background-color: #f7ecb5 !important;
    border-color: transparent !important;
}
.signup__style .checkbox__box, .signup__style .checkbox__box {
    border-radius: 0 !important;
    border: 1px solid #ccc !important;
}
.signup__style .input-group-addon-phone:empty{
    display: table-column;
}
.signup__style #phone_error {
    display: none;
    text-align: justify;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signup__style .recovery{
    display: inline-block;
    min-width: 120px;
    margin-left: 20px;
    font-weight: 600;
    color: #212125;
}
.signup__style .send-div{
    display: inline-block;
    margin-left: -15px;
}
.signup__style .spacing-2 {
    letter-spacing: 2px;
}
.signup__style .spacing-1 {
    letter-spacing: 1px;
}
.signup__style .btn-active-yellow{
    background-color: #f2d51b !important;
    border: 2px solid #f2d51b;
    letter-spacing: 2px;
    padding: 15px 50px 15px 50px;
    font-size: 1.1em;
}
#modal_sign_up_success{
    color: #000 !important;
}
.signup__style #form-count_cars::-webkit-input-placeholder {
    font-size: 12px!important;
}
.signup__style #form-count_cars:-moz-placeholder {
    font-size: 12px!important;
}
.signup__style #form-count_cars::-moz-placeholder {
    font-size: 12px!important;
}
.signup__style .pass_lang {
    display: block;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
}
.signup__style #password-strength {
    display: none !important;
}
.signup__style .nds__block, .signup__style .client_rights__block, .signup__style .groozgo_counter_widget {
    margin-top: -8px;
}
.signup__style .btn-recovery-cancel {
    margin-top: 10px !important;
}
.signup__style #auth_block {
    padding-left: 0 !important;
}
.signup__style .register_link {
    /*margin-top: 15px;*/
    font-weight: 600;
    /*margin-left: -12px;*/
}

.signup__style .send-block{
    text-align: left;
}
@media screen and (max-width: 400px) {
    .signup__style .send-block{
        text-align: center;
    }
    .signup__style .recovery{
        margin-top: 15px;
    }
}

.signup__style .input-group .form-control:not(:first-child):not(:last-child), .signup__style .input-group-addon:not(:first-child):not(:last-child), .signup__style .input-group-btn:not(:first-child):not(:last-child) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
