/*РРєРѕРЅРєРё РєР°С‚РµРіРѕСЂРёР№ РўРЎ*/
/*.box-lt200 {*/
/*background-image: url("/images/order/icon-box-200.png");*/
/*width: 82px;*/
/*}*/
/*.box-lt200.static {*/
/*background-image: url("/images/order/icon-box-200-static.png");*/
/*}*/
/*.btn.active .box-lt200,.box-lt200-active {*/
/*background-image: url("/images/order/icon-box-200-active.png");*/
/*width: 82px;*/
/*}*/
.ts1500 {
    background-image: url("/images/order/icon-box-1t5.png");
    width: 108px;
}
.ts1500.static {
    background-image: url("/images/order/icon-box-1t5-static.png");
}
.btn.active .ts1500,.ts1500-active {
    background-image: url("/images/order/icon-box-1t5-active.png");
    width: 108px;
}
.ts3000 {
    background-image: url("/images/order/icon-box-3t.png");
    width: 100px;
}
.ts3000.static {
    background-image: url("/images/order/icon-box-3t-static.png");
}
.btn.active .ts3000,.ts3000-active {
    background-image: url("/images/order/icon-box-3t-active.png");
    width: 100px;
}
.ts5000 {
    background-image: url("/images/order/icon-box-5t.png");
    width: 117px;
}
.ts5000.static {
    background-image: url("/images/order/icon-box-5t-static.png");
}
.btn.active .ts5000,.ts5000-active {
    background-image: url("/images/order/icon-box-5t-active.png");
    width: 117px;
}
.ts10000 {
    background-image: url("/images/order/icon-box-10t.png");
    width: 125px;
}
.ts10000.static {
    background-image: url("/images/order/icon-box-10t-static.png");
}
.btn.active .ts10000,.ts10000-active {
    background-image: url("/images/order/icon-box-10t-active.png");
    width: 125px;
}
.ts20000 {
    background-image: url("/images/order/icon-box-20t.png");
    width: 127px;
}
.ts20000.static {
    background-image: url("/images/order/icon-box-20t-static.png");
}
.btn.active .ts20000,.ts20000-active {
    background-image: url("/images/order/icon-box-20t-active.png");
    width: 127px;
}
.icon-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.btn.btn-box {
    padding: 5px 5px;
    background: none!important;
}
.btn .icon-box {
    height: 140px;
    background-position: bottom center;
}


/* РџРµСЂРµРєР»СЋС‡Р°С‚РµР»СЊ */
.cmn-toggle + label {
    width:100%;
    font-size:0;
    position:relative;
    padding-left:0;
    vertical-align:middle;
}
.cmn-toggle + label .checkbox-input {
    width: calc(100% - 45px);
    box-sizing: border-box;
    padding: 0 0 0 10px;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.cmn-toggle + label .checkbox-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle + label .checkbox-icon{
    padding: 2px;
    width: 45px;
    height: 25px;
    background-color: #dddddd;
    border-radius: 13px !important;
    transition: background 0.4s;
    box-sizing:border-box
}
input.cmn-toggle + label .checkbox-icon:before,
input.cmn-toggle + label .checkbox-icon:after {
    display: block;
    position: absolute;
    content: "";
}
input.cmn-toggle + label .checkbox-icon:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #dddddd;
    border-radius: 11px;
    transition: background 0.4s;
}
input.cmn-toggle + label .checkbox-icon:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 21px;
    background-color: #fff;
    border-radius: 11px;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle:checked + label .checkbox-icon {
    background-color: #f2d51b;
}
input.cmn-toggle:checked + label .checkbox-icon:before {
    background-color: #f2d51b;
}
input.cmn-toggle:checked + label .checkbox-icon:after {
    margin-left: 20px;
    background-color: #fff;
}

.portlet .select2-container {
    width: 100% !important;
}


.calendarInput .input-group .input-group-btn a.btn {background-color: transparent;}
.form-control {border-radius:4px !important; }
.landing_island .input-btn-label {
    text-align: left;
    font-size: 18px;
    color: #282830;
    min-height: 26px;
}

.icon-service {
    background-repeat: no-repeat;
    background-position: center;
    height: 87px;
    margin: 0 auto;
    width: 87px;
    border-radius: 50px !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(222, 222, 222);
    box-shadow: 0 0 10px 0 rgb(222, 222, 222);
}

.landing_island {
    border-radius: 8px !important;
}

#ordermanagement-from {
    padding-right: 40px;
}

#order-form-management  .form-group {
    margin-bottom: 0px;
}

li.places > span.placeTitle {
    display: block;
}
li.places > span.placeAddr {
    display: block;
    font-size: 0.8em;
    color: #999999;
}

span.spanPrice {
    display: block;
}
span.spanOptions {
    display: block;
    font-size: 0.7em;
    color: #999999;
}
div.field-summary_price_order.has-error p.help-block-error {
    font-size: 0.7em;
}

.popovers {
    font-size: 0.9em;
    color: red;
}

.popovers_address {
    position: absolute;
    top: -2px;
    left: 60px;
}

.popovers_time {
    position: absolute;
    top: 2px;
    left: 122px;
}

.popovers_type_ts {
    position: relative;
    top: -10px;
}

.popovers_load_params {
    position: relative;
    top: -10px;
    left: -5px;
}

.popovers_custom_price {
    position: relative;
    top: -15px;
    left: 5px;
}

.popovers_insurance {
    position: relative;
    top: -10px;
    left: 10px;
}

.custom_modal {
    position: fixed;
    top: 1%;
    bottom: 1%;
}

@media(max-width: 1025px){
    .popovers {
        display: none;
    }
}

.has-error.has-error-bg .form-control,
.has-error.has-error-bg.select2-container--krajee .select2-dropdown,
.has-error.has-error-bg .select2-container--krajee .select2-selection{
    background-color: #ffbcbc;
}

.has-success .form-control {
    background-color: #fff !important;
}

a.no-address-link {
    color:#a94442;font-size:13px;text-decoration: underline
}

a.no-address-link:hover{
    color:#a94442;font-size:13px;text-decoration: none
}
