<template>
    <v-container>
        <v-row>
            <v-col v-if="errors.length">
                <p style="margin-bottom: 0px !important;">
                    <b style="color: #000;">Пожалуйста исправьте указанные ошибки:</b>
                <ul style="color: red; padding-left: 15px; list-style: circle; text-align: left;">
                    <li v-for="error in errors">@{{ error }}</li>
                </ul>
                </p>
            </v-col>
            <v-col cols="12" class="text-center">
                <p class="text-center">Войти</p>
            </v-col>

            <v-col cols="12">
                <v-text-field @keydown.enter="loginUser()" label="Email*" :rules="[rules.required, rules.email]" v-model="email" required></v-text-field>
            </v-col>
            <v-col cols="12">
                <v-text-field @keydown.enter="loginUser()" label="Пароль*" :rules="[rules.required]" v-model="user_password" type="password" required></v-text-field>
            </v-col>
            <v-col v-if="information" v-html="information" class="alert alert-warning fade show">

            </v-col>
            <v-col cols="12">
                <v-btn @click="loginUser()" color="btn btn-success" style="width: 100%;">Продолжить</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                email: '',
                user_password: '',
                errors: [],
                rules: {
                    required: value => !!value || "Поле обязательно",
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return pattern.test(value) || "Email введите правильно";
                    }
                },
                information: ''
            }
        },
        methods: {
            loginUser(){
                this.errors = [];
                if (!this.email) {
                    this.errors.push('Укажите электронную почту.');
                } else if(!this.validEmail(this.email)){
                    this.errors.push('Укажите корректный адрес электронной почты.');
                }

                if (!this.user_password) {
                    this.errors.push('Укажите пароль');
                }

                if (this.errors.length == 0) {
                    let form_data = new FormData();
                    form_data.append('email', this.email);
                    form_data.append('password', this.user_password);

                    axios.post('/login/user', form_data)
                        .then(res => {
                            console.log(res);
                            window.location.href = res.data.data;
                        })
                        .catch(err => {
                            if (err.response.status === 404) {
                                this.information = err.response.data.data;
                            }
                        })
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>
