<template>
    <v-container>
        <v-row>
            <v-col v-if="errors.length">
                <p style="margin-bottom: 0px !important;">
                    <b style="color: #000;">Пожалуйста исправьте указанные ошибки:</b>
                <ul style="color: red; padding-left: 15px; list-style: circle; text-align: left;">
                    <li v-for="error in errors">@{{ error }}</li>
                </ul>
                </p>
            </v-col>
            <v-col cols="12" class="text-center">
                <p class="text-center">Зарегистрироваться</p>
                <v-btn-toggle
                    active-class="register_active_btn"
                    v-model="toggle_exclusive"
                    @click="alert(toggle_exclusive)"
                    mandatory
                >
                    <v-btn :value="0">
                        Заказчик
                    </v-btn>
                    <v-btn :value="1">
                        Перевозчик
                    </v-btn>
                </v-btn-toggle>
            </v-col>
<!--            <v-col cols="12">-->
<!--                <v-select-->
<!--                    :hint="`${countries.id}, ${countries.title}`"-->
<!--                    :items="countries"-->
<!--                    v-model="country_id"-->
<!--                    item-value="id"-->
<!--                    item-text="title"-->
<!--                    label="-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;"-->
<!--                    required-->
<!--                ></v-select>-->
<!--            </v-col>-->
            <v-col cols="6">
                <v-text-field label="Имя*" :rules="[rules.required]" v-model="first_name" required></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field label="Фамилия*" :rules="[rules.required]" v-model="last_name" required></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field label="Телефон*" :rules="[rules.required]" v-model="phone" required></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field label="Email*" :rules="[rules.required, rules.email]" v-model="email" required></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field label="Придумайте пароль*" :rules="[rules.required]" v-model="user_password" type="password" required></v-text-field>
            </v-col>
            <v-col cols="6">
                <v-text-field label="Повторите пароль*" :rules="[rules.required]" v-model="confirm_password" type="password" required></v-text-field>
            </v-col>

            <v-col v-if="information" v-html="information" class="alert alert-warning fade show">

            </v-col>
            <v-col cols="12">
                <v-btn @click="user_register()" type="button" color="btn btn-success" style="width: 100%;">Согласиться и продолжить</v-btn>
            </v-col>

            <v-col cols="12" style="font-size: 10px;">
                Нажимая Согласиться и продолжить, я согласен на
                <a href="#">обработку персональных данных</a>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                login_dialog: false,
                register_dialog: false,
                success_dialog: false,
                toggle_exclusive: 0,
                first_name: '',
                last_name: '',
                phone: '',
                country_id: 0,
                email: '',
                user_password: '',
                confirm_password: '',
                errors: [],
                rules: {
                    required: value => !!value || "Поле обязательно",
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return pattern.test(value) || "Email введите правильно";
                    }
                },
                information: ''
            }
        },
        props: [
            'countries'
        ],
        methods: {
            user_register(){
                this.errors = [];
                if (!this.email) {
                    this.errors.push('Укажите электронную почту.');
                } else if(!this.validEmail(this.email)){
                    this.errors.push('Укажите корректный адрес электронной почты.');
                }

                if (!this.first_name) {
                    this.errors.push('Укажите имя');
                }

                if (!this.last_name) {
                    this.errors.push('Укажите Фамилия');
                }

                if (!this.phone) {
                    this.errors.push('Укажите телефон');
                }

                if (!this.user_password) {
                    this.errors.push('Укажите пароль');
                }

                if (!this.confirm_password) {
                    this.errors.push('Введите пароль повторно');
                }

                if (this.user_password != this.confirm_password) {
                    this.errors.push('Введенные пароли не совпадает');
                }

                if (this.errors.length == 0) {
                    let form_data = new FormData();
                    form_data.append('user_type', this.toggle_exclusive);
                    form_data.append('first_name', this.first_name);
                    form_data.append('last_name', this.last_name);
                    form_data.append('email', this.email);
                    form_data.append('phone', this.phone);
                    form_data.append('user_password', this.user_password);
                    form_data.append('confirm_password', this.confirm_password);

                    axios.post('/register/user', form_data)
                        .then(res => {
                            console.log(res);
                            window.location.href = res.data.data;
                        })
                        .catch(err => {
                            if (err.response.status === 409) {
                                this.information = err.response.data.data;
                            }
                        })
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
        created(){
            console.log(this.countries)
        }
    }
</script>
